<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanpin.dao.ICIficationDao">

    <select id="selAllClass" parameterType="int" resultType="com.fanpin.entity.ClassIfication">
        SELECT *
        FROM classification
    </select>

    <insert id="addSort" parameterType="com.fanpin.entity.ClassIfication">
        INSERT INTO classification (cname, descb) VALUES (#{cname}, #{descb})
    </insert>

    <delete id="deleteSort" parameterType="int">
        DELETE FROM classification
        WHERE classid = #{classid}
    </delete>

    <update id="upSort">
        UPDATE classification
        <set>
            <if test="cname!=null and cname!=''">
                cname = #{cname},
            </if>
            <if test="descb!=null and descb!=''">
                descb = #{descb}
            </if>
        </set>
        WHERE classid = #{classid}
    </update>

</mapper>